<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gang Gang</title>

</head>

<body style="background-image: url(GANG.png); background-size: cover">
<h1 style="color: white"> 401 MONEY GANG </h1>
<div>
<img src='https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/e35/103312519_285653979249077_7947995888018673039_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=105&_nc_ohc=iZRg-44f4vEAX-hbEj3&oh=04534cec17edc3832bca877f09e644f4&oe=5F0A2D7E&ig_cache_key=MjMyODE0Mjk1NzI4OTIxNTEwNQ%3D%3D.2' alt='not a furry'  width="500"/>
<img src='MIso.jpg' width="500"/>
<img src='https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/e35/102422671_2981516401967065_4983215422201990961_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=101&_nc_ohc=CTWPvJ3re8EAX_DQhCb&oh=ccbbb1bebc1ea19dee09c00ed4ab507c&oe=5F0A4B3E&ig_cache_key=MjMyODE0MTU5NjU5ODIxMDA0Mw%3D%3D.2' width = "500"/>
<img src='https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/e35/102839258_2809846395787822_8665268180426969872_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=110&_nc_ohc=MEEAA3cC9U4AX-xWt1o&oh=7e322bba62db15f87d6aa83b9911e5dc&oe=5F09085F&ig_cache_key=MjMyODE0ODE1NzQyMDgwMjIzNQ%3D%3D.2' width="500"/>
<img src='https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/e35/102939083_1606522802845297_1123697396047196194_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=101&_nc_ohc=kTIvh4r7WO0AX-VU4Js&oh=a9bf418c8b7693e114537259142fcb4c&oe=5F093327&ig_cache_key=MjMyODE1OTQyOTg4MTM1NzUyMw%3D%3D.2' width="500"/>
<h1 style="color: white"> Honorary Member </h1>
<img src="lef.jpg" width="500"/>
</div>
</body>

